<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>
    <%= @user.name %> 様
  </h2>

  <h4>Present Appをご利用いただきありがとうございます。<br>
     Present Appがお客様のご注文を承ったことをお知らせいたします。<br>
     詳細はマイページからご確認ください。
  </h4>

  <h4 style="font-weight: bold;">注文番号：</h4><%= @latest_present.id %>

  <h4 style="font-weight: bold;">注文内容：  </h4>
    <% i = 1 %>
    
      <% @latest_products.each do |present|%>
        <p style="margin-bottom: 20px">
          <% product = Product.find(present.product_id) %>
          <%= "#{i}." %><%= product.name %><br>
          <%= image_tag("/product_images/#{product.image}", :width => "100px") %><br>
          <%= number_to_currency(product.price, :locale => 'jp') %><br>
          <% i += 1 %>
        </p>

        <%= form_for @presentproduct, :url => {:action => 'update'} do |form| %>%>
          <%= form.text_area :comment %>
          <%= form.number_field :evaluation %>
          <input type="submit" value="送信する">
        <% end %>
      <% end %>


  <h4 style="font-weight: bold;">ご注文合計金額：</h4><%= number_to_currency(@total_price, :locale => 'jp') %>
  <h4 style="font-weight: bold;">注文日：</h4><%= Date.today.strftime('%Y年%m月%d日') %>

</body>
</html>

