<%= render "shared/header" %>

<%= link_to("以下の内容で購入する", "/products/user/thanks") %>
<%= form_tag ("/products/user/settlement") do %>
	<%= hidden_field :present, :message %>
	<%= hidden_field :present, :purpose_number %>

	<input type = "submit" value ="内容を修正する">
<% end %>

<p>贈る相手</p>

<p>メッセージ</p>
<% if @present.present? %>

	<%= @present.message %> <br>

<% else %>
    <p>Presentモデルは空です。</p>
<% end %>

	<table class="cart_list">
		<thead>
		<tr>
		  <th>商品名</th>
		  <th>価格</th>
		</tr>
		</thead>
	<% total_price = 0 %>
		<tbody>
			  <% @carts.each do |cart| %>
			  <% @users = User.find(cart.user_id) %>
			  <% @product = Product.find(cart.product_id) %>
		<tr>
			  <td><%= link_to(@product.name, "/products/#{@product.id}") %></td>
			  <td><%= number_to_currency(@product.price, :locale => 'jp') %></td>
	    </tr>
		    <% total_price += @product.price %>
	    <% end %>
		</tbody>
	</table>
<p>合計金額は<%= number_to_currency(total_price, :locale => 'jp') %>です。</p>
<p>お届け希望日</p>
