<% content_for :title do %>
ユーザー情報変更
<% end %>
<div class="container">
    <h2 class="page_title">ユーザー情報変更</h2>
    <div class="item_field">
        <div class="item_block">
            <%= form_for @user, :url => {:action => 'update'} do |form| %>
            <table class="input_table">
                <tr>
                    <td class="label_name" align="right">
                        <%= form.label :お名前 %>
                    </td>
                    <td class="input_field">
                        <%= form.text_field :name %>
                    </td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <%= form.label :性別 %>
                    </td>
                    <td class="input_field"><select name="user[gender_id]">
                            <% @genders.each do |gender| %>
                            <option <% if current_user.gender_id.present? %>
                                <%= "selected" if gender.id == current_user.gender.id %>
                                <% end %> value =
                                <%= gender.id %> >
                                <%= gender.gender_type %>
                            </option>
                            <% end %>
                        </select></td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <%= form.label :誕生日 %>
                    </td>
                    <td class="input_field">
                        <%= raw sprintf(
      form.date_select(
        :birthday,
        use_month_numbers: true,
        start_year: 1930,
        end_year: (Time.now.year - 18),
        default: Date.new(2000, 1, 1),
        date_separator: '%s'),
      '年 ', '月 ') + '日' %>
                    </td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <%= form.label :メールアドレス： %>
                    </td>
                    <td class="input_field">
                        <%= form.text_field :email %>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="submit_btn">
                            <input type="submit" value="ユーザー情報を変更する"></div>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>