
<% content_for :title do %>
  Users list
<% end %>

<div id="page-comment">
  Users list
</div>

<% @users.each do |user| %>
<%= link_to(user.id, "/users/#{user.id}") %>
<%= user.name %>
<%= user.email %>
<%= user.password %>
<%= user.gender %>
<%= user.birthday %>
<%= user.email %>
<br>
<% end %>

