<p>以下の商品を購入しますか？</p>
	<table class="cart_list">
		<thead>
		<tr>
		  <th>Cart ID</th>
		  <th>ユーザーID from Cart</th>
		  <th>商品ID</th>
		  <th>商品名 from Product</th>
		  <th>価格</th>
	</tr>
	</thead>
	<% total_price = 0 %>
	<tbody>
		  <% @carts.each do |cart| %>
		  <% @products = Product.find(cart.product_id) %>
	<tr>
		  <td><%= cart.id %></td>
		  <td><%= cart.user_id %></td>
		  <td><%= cart.product_id %></td>
		  <td><%= @products.name %></td>
		  <td><%= number_to_currency(@products.price, :locale => 'jp') %></td>

    </tr>
    <% total_price += @products.price %>
    <% end %>

	</tbody>
</table>

<p>合計金額は<%= number_to_currency(total_price, :locale => 'jp') %>です。</p>

<%= link_to "購入する", products_user_settlement_path, :total_price => total_price %>