<% content_for :title do %>
Settlment page
<% end %>
<div class="container">
    <h2 class="page_title">贈るお相手情報</h2>
    <div class="item_field">
        <div class="item_block">
            <%= form_tag ("/presents") do  %>
            <table class="input_table">
                <tr>
                    <td class="label_name" align="right">
                        <p>お名前</p>
                    </td>
                    <td class="input_field">
                        <%= text_field :present_opponent, :name %>
                    </td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <p>性別</p>
                    </td>
                    <td class="input_field"><select name="present_opponent[gender_id]" class="select_box">
                            <% @genders.each do |gender| %>
                            <option <% if params[:present_opponent].present? %>
                                <%= "selected" if gender.id == params[:present_opponent][:gender_id].to_i %>
                                <% end %> value = "
                                <%= gender.id %>" >
                                <%= gender.gender_type %>
                            </option>
                            <% end %>
                        </select></td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <p>メールアドレス</p>
                    </td>
                    <td class="input_field">
                        <%= text_field :present_opponent, :mail_address %>
                    </td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <%= "プレゼントの目的" %>
                    </td>
                    <td class="input_field"> <select name="present[purpose_number]" class="select_box">
                            <option value="">選択してください</option>
                            <% @purposes.each do |purpose| %>
                            <option <% if params[:present].present? %>
                                <%= "selected" if purpose.id == params[:present][:purpose_number].to_i %>
                                <% end %>
                                value =
                                <%= purpose.id %>
                                >
                                <%= purpose.purpose %>
                            </option>
                            <% end %>
                        </select></td>
                </tr>
                <tr>
                    <td class="label_name" align="right">
                        <p>メッセージ</p>
                    </td>
                    <td class="input_field">
                        <%= text_area :present, :message %>
                    </td>
                </tr>
            </table>
            <br>
            <table class="input_table">
                <thead>
                    <tr>
                        <th>商品</th>
                        <th>価格</th>
                    </tr>
                </thead>
                <tbody>
                    <% total_price = 0 %>
                    <% @carts.each do |cart| %>
                    <% @product = Product.find(cart.product_id) %>
                    <tr>
                        <td>
                            <%= link_to(@product.name, "/products/#{@product.id}", target: "_brank") %>
                        </td>
                        <td>
                            <%= number_to_currency(@product.price, :locale => 'jp') %>
                        </td>
                    </tr>
                    <% total_price += @product.price %>
                    <% end %>
                </tbody>
            </table>
            <p class="total-fee">合計金額は
                <%= number_to_currency(total_price, :locale => 'jp') %>です。</p>
            <div class="settlement-btn">
                <%= link_to "カートに戻る", carts_path, id:"back-button" %>
                <div class="submit_btn_small">
                    <input type="submit" value="進む"></div>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>