<%= render "shared/header" %>

<%= form_tag ("/presents") do  %>

	<%= link_to "Back", carts_path %>

	<input type = "submit" value ="Next">
	<p>贈る相手</p> 
		お名前<%= text_area :present_opponent, :name %><br>
		性別
		<select name="gender">
			<% @genders.each do |gender| %>
				<option value= <%= gender.gender %> ><%= gender.gender_type %></option>
			<% end %>
		</select>
	<p>お届け日</p>

	<p>メッセージ</p>
		<%= text_area :present, :message %>

	<p>相手先住所</p>

		<table class="cart_list">
			<thead>
			<tr>
			  <th>商品</th>
			  <th>価格</th>
		</tr>
		</thead>
		<% total_price = 0 %>
		<tbody>
			  <% @carts.each do |cart| %>
			  <% @product = Product.find(cart.product_id) %>
		<tr>
			<td><%= link_to(@product.name, "/products/#{@product.id}") %></td>
			  <td><%= number_to_currency(@product.price, :locale => 'jp') %></td>

	    </tr>
	    <% total_price += @product.price %>
	    <% end %>

		</tbody>
	</table>

	<p>合計金額は<%= number_to_currency(total_price, :locale => 'jp') %>です。</p>

	<%= hidden_field :present, :user_id %>

	<%= label_tag :purpose_number, "目的" %>
		<select name="purpose_number">
			<option value="">目的を選択してください</option>
			<% @purposes.each do |purpose| %>
				<option <% if @present.present? %><%= "selected" if purpose.id == params[:present][:purpose_number].to_i %><% end %> value = <%= purpose.id %> > <%= purpose.purpose %>
				</option>
			<% end %>
		</select>

	<%= hidden_field :present, :present_date, :value => Date.today %><br>

	<%= label_tag :present_date, "お届け希望日" %>
<% end %>

