<%= render "shared/header" %>

<%= form_tag ("/presents") do  %>

	<%= link_to "Back", carts_path %>

	<input type = "submit" value ="Next">
	<p>プレゼントする人</p> 

	<p>お届け日</p>

	<p>メッセージ</p>
		<textarea name = "message"></textarea> <br>

	<p>相手先住所</p>

		<table class="cart_list">
			<thead>
			<tr>
			  <th>商品名 from Product</th>
			  <th>価格</th>
		</tr>
		</thead>
		<% total_price = 0 %>
		<tbody>
			  <% @carts.each do |cart| %>
			  <% @product = Product.find(cart.product_id) %>
		<tr>
			<td><%= link_to(@product.name, "/products/#{@product.id}") %></td>
			  <td><%= number_to_currency(@product.price, :locale => 'jp') %></td>

	    </tr>
	    <% total_price += @product.price %>
	    <% end %>

		</tbody>
	</table>

	<p>合計金額は<%= number_to_currency(total_price, :locale => 'jp') %>です。</p>

	<p>以下は表示しないがmodelに保存</p>
	<p>ユーザーID</p>
	<p>目的</p>
	<p>決済した日</p>



<% end %>

