<%= render "shared/header" %>


<h4>Welcome to your page</h4>

<%= link_to "Cart", carts_path %>

<p>過去のプレゼント</p>

  <% @presents.each do |present| %>
      <% presentopponent = PresentOpponent.find(present.present_opponent_id) %>
      <% purpose = Purpose.find(present.purpose_number) %>
      <% presentproducts = PresentProduct.where(present_id: present.id) %>
    <div class = "purchaselog">
      <div class = "purchaselogheader">
        <div class = "purchasedate"><%= label :present, :注文日 %>
          <p><%= present.parchase_date %></p></div>
        <div class = "presentopponent"><%= label :present, :送ったお相手 %>
          <p><%= presentopponent.name %></p></div>
        <div class = "presentpurpose"><%= label :present, :目的 %>
          <p><%= purpose.purpose %></p></div>
      </div>
        <% presentproducts.each do |presentproduct| %>
          <% product = Product.find(presentproduct.product_id) %>
          <%= image_tag("/product_images/#{product.image}", :height => "35") %>
          <%= product.name %>
          <%= number_to_currency(product.price, :locale => 'jp') %>
        <% end %>
    </div>
  <% end %>
<p><%= link_to "ユーザー情報の変更", edit_user_path(current_user) %></p>




