<div class="container">
  <h2 class="page_title">パスワード更新</h2>
  <div class="item_field">
    <div class="item_block">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
            <table class="input_table">














              <tr>
                <td class="label_name" align="right"><%= f.label :新しいパスワード： %></td>
                <td class="input_field"><%= f.password_field :password, autofocus: true, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> 文字以上で設定してください。)</em><br />
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="label_name" align="right"><%= f.label :パスワード（確認）： %></td>
                <td class="input_field"><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
              </tr>
            </table>
        <div class="submit_btn">
          <%= f.submit "パスワードを更新する" %>
        </div>
      <% end %>
    </div>
  </div>
</div>