  <div class="container">
    <h2 class="page_title">パスワード再発行</h2>
    <div class="item_field">
      <div class="item_block">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

      <table class="input_table">
        <tr>
          <td class="label_name" align="right"><%= f.label :メールアドレス： %></td>
          <td class="input_field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
      </table>

          <div class="submit_btn">
    <%= f.submit "パスワードを再発行する" %>
  </div>
<% end %>

    </div>
  </div>
</div>