<div class="container">
  <table>
    <tr>
      <th>商品名</th>
      <th>画像</th>
      <th>金額</th>
      <th>在庫</th>
      <th>補充</th>
    </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
    <td><%= image_tag("/product_images/#{product.image}", :width => "100") %></td>
    <td><%= number_to_currency(product.price, :locale => 'jp') %></td>
    <% if @present_products.where(product_id: product.id).count != nil %>
      <% array = @product_managements.where(product_id: product.id) %>
      <% stock_sum = 0 %>
      <% array.each do |stock| %>
        <% stock_sum += stock.stock %>
      <% end %>
      <td><%= stock_sum - @present_products.where(product_id: product.id).count %>個
      <!-- 「在庫情報」-「購入された数の合計」 -->
    <% else %>
      0
    <% end %></td>
    <td>
      <%= form_for @product, :url => {:action => 'add_stock'} do |f| %>
        <div class="refill_box"><%= f.number_field :stock %></div>
          <%= fields_for @shop_management do |f| %>
            <%= f.hidden_field :shop_id %>
          <% end %>
          <%= fields_for product do |f| %>
            <%= f.hidden_field :id %>
          <% end %>
        <input type="submit" value="補充する">
      <% end %></td>

    </tr>

  <% end %>

  </table>

</div>