<footer>
  <div class="container">
    <% if signed_in? && current_user.admin == true %>
      <div class="admin-menu">
        あなたは管理者です。
        <%= link_to "ユーザー一覧", users_path %>
        <%= link_to "新規商品登録", products_new_path %>
        <%= link_to "目的リスト", purpose_index_path %>
        <%= link_to "新規目的登録", new_purpose_path %>

      </div>
    <% end %>
  </div>
  <div class="change-mode">
    表示モード: 
    <%= link_to 'スマートフォン'%>
     | PC
  </div>
  <div class="footer container">
    <div class="footer-main">
      <div class="footer-left">
        <p class="footer-icon">
        <%= image_tag("about_icon.png", alt:"ブランドショップハピネスの運営会社について") %>
        </p>
        <p class="mb10">
          株式会社ハピネス・アンド・ディは、全国に80店舗展開している安心と信頼の上場企業です。
        </p>
        <p class="mb20 about-us">
          <%= link_to 'ハピネス・アンド・ディ コーポレートサイトはこちら' %>
        </p>
        <p class="mb20">
          株式会社ハピネス・アンド・ディは、「偽造品」「不正商品」の流通防止と排除を目的としている日本流通自主管理協会の会員企業です。
        </p>
        <p class="aacd-logo-large">
          <%= image_tag("aacd_logo.png", alt:"日本流通自主管理協会") %>
        </p>
      </div>

      <div class="footer-right">
        <p class="footer-icon">
          <%= image_tag("contact_icon.png", alt:"ブランドショップハピネスへお問い合わせ") %>
        </p>
        <p class="mb30">
          株式会社ハピネス・アンド・ディ<br>
          休業日：土・日/祝祭日<br>
          営業時間：10:00～17:00<br>
        </p>
        <p class="mb12">
          E-MAIL：support@happiness-d.com<br>
          〒104-0061　東京都中央区銀座1-16-1　（東貸ビル）<br>
          TEL:03-6683-7533<br>
          FAX:03-3562-7532<br>
          販売責任者:三島浩平<br>
        </p>
        <p class="contact">
          <%= link_to 'お問い合わせ一覧はこちら' %>
        </p>
      </div>
    </div>
    <ul class="footer-info container">
      <li>
        <%= link_to 'ご利用規約' %>
      </li>
      <li>
        <%= link_to '個人情報保護方針' %>
      </li>
      <li>
        <%= link_to '特定商取引法に基づく表示' %>
      </li>
      <li>
        <%= link_to 'よくあるご質問' %>
      </li>
      <li>
        <%= link_to 'サイトマップ' %>
      </li>
      <li>
        <%= link_to 'ショッピングガイド' %>
      </li>
      <li>
        <%= link_to '店舗情報' %>
      </li>
    </ul>
  </div>

  <p class="copyright">
    Copyright(C)2015 Happiness&D. ALL RIGHTS RESERVED.
  </p>
</footer>