<header>
	<logo>Present App.<br>Thanks to YOU</logo>
	<% if signed_in? %>
		<%= link_to "Home", "/" %>
		<%= link_to "ユーザー一覧", users_path %>
		<%= link_to "商品リスト", products_index_path %>
		<%= link_to "新規商品登録", products_new_path %>
		<%= link_to "目的リスト", purpose_index_path %>
		<%= link_to "新規目的登録", new_purpose_path %>
		<%= link_to "Cart", carts_path %>
		<%= link_to "My page", "/users/#{current_user.id}" %>

		<%= button_to "Log out", destroy_user_session_path, method: :delete %>
	<% else %>
	<div class="header_menu">
		<%= form_tag(products_index_path, method: "get") do %>
			<%= text_field_tag :name_or_characteristic, params[:name_or_characteristic], :placeholder => "Search present" %>
		<% end %>
				<%= link_to "Home", "/" %>
				<%= link_to "Log in", new_user_session_path %>
				<%= link_to "Sign up", new_user_registration_path %>
	</div>
	<% end %>


</header>