<header>
  <%= link_to(("/"),class:'logo') do %>
    <div id="logo">
      Present App.<br>Thanks to YOU
    </div>

  <% end %>

  <% if signed_in? %>
    <div class = "header_menu">
      <P><%= link_to "Home", "/" %></P>
      <p><%= link_to "商品リスト", products_index_path %></p>
      <p><%= link_to "Cart", carts_path %></p>
      <p><%= link_to "My page", "/users/#{current_user.id}" %></p>
        <div class= "logout">
          <%= button_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
    </div>
  <% else %>
    <div class="header_menu">
      <div class="search_box">
        <%= form_tag(products_index_path, method: "get") do %>
          <%= text_field_tag :name_or_characteristic, params[:name_or_characteristic], :placeholder => "Search present" %>
        <% end %>
      </div>
      <div class="header_side_menu">
        <%= link_to "Home", "/" %>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    </div>
  <% end %>

</header>