<header>
  <div class="header-top-wrapper">
    <div class="container header-top">
      <div class="header-left">
        <p class="concept-word">大切な人に贈る大切なプレゼントだから、心を込めて贈る人の「ときめき」を伝えるお手伝いをします。<%= link_to '参照サイト','http://www.happiness-d.com/shop/default.aspx', :target => "_blank" %></p>
          <div class="header-logogroup">
            <%= link_to 'Present App. Thanks to YOU', '/' ,id:'logo' %>
            <div class="free-info">
              <%= link_to(image_tag("banner_wrapping_free.gif", alt:"ラッピング無料")) %>
              <%= link_to(image_tag("banner_belt_forre.gif", alt:"ベルト調整無料")) %>
            </div>
          </div>
      </div>
      <div class="header-right">
        <div class="header-right-info">
          <%= link_to(image_tag("register_btn.png", alt:"新規会員登録"), new_user_registration_path) %>
          <%= link_to(image_tag("guide_btn.png", alt:"ショッピングガイド")) %>
          <%= link_to(image_tag("faq_btn.png", alt:"よくあるご質問")) %>
        </div>
        <div class="header-right-inner">
          <div class="comment">
            <p >全国80店舗展開中！安心と信頼の上場企業日本流通自主管理協会(AACD)の会員企業です</p>
            <div class="shop-info"><%= link_to(image_tag("header_right_text_btn.png", alt:"全国の店舗情報はこちら")) %></div>
          </div>
          <div class="header-right-image">
            <%= link_to(image_tag("aacd_img.png", alt:"AACD")) %>
            <%= link_to(image_tag("jpx_img.png", alt:"JPX")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-wrapper">
    <div class="container subheader">
      <div class="subheader-left">
        <div class="search-box">
            <%= form_tag(products_index_path, method: "get") do %>
              <%= text_field_tag :name_or_characteristic, params[:name_or_characteristic], :placeholder => "キーワードを入力" , style: "border: none"%>
        </div>
              <div class="select-category">
                <select name="カテゴリ">
                  <option value selected>全てのカテゴリから</option>
                  <option>バッグ</option>
                  <option>　レディースバッグ</option>
                  <option>　　ショルダーバッグ</option>
                  <option>　　トートバッグ</option>
                  <option>　メンズバッグ</option>
                  <option>　　ハンドバッグ</option>
                  <option>　　リュック・バッグ</option>
                  <option>財布</option>
                  <option>　レディース財布</option>
                  <option>　　長財布</option>
                  <option>　　コインケース</option>
                  <option>　メンズ財布</option>
                  <option>　　長財布</option>
                  <option>　　コインケース</option>
                </select>
              </div>
                  <%= image_submit_tag "go.gif", alt:"検索", class:"go" %>
            <% end %>
      </div>

      <% if signed_in? %>
          <div class="subheader-right">
            <div class="welcome">
              ようこそ　<%= current_user.name %> 様
            </div>
            <div class="subheader-right-img">
              <%= link_to image_tag("mypage_btn.png", alt:"マイページ"), "/users/#{current_user.id}" %>
              <%= link_to image_tag("favorite_btn.png", alt:"お気に入りリスト") %>
              <div class="subheader-right-cart">
                <%= link_to image_tag("cart_icon.png", alt:"カート"), carts_path %>
              </div>
              <div class="subheader-right-cart-number">
                <%= @carts.count %>
              </div>
            </div>
          </div>



        <% else %>
          <div class="subheader-right">
            <div class="welcome">
              ようこそ　ゲスト 様
            </div>
            <div class="subheader-right-img">
              <%= link_to image_tag("login_btn.png", alt:"ログイン"), new_user_session_path %>
              <%= link_to image_tag("favorite_btn.png", alt:"お気に入りリスト") %>
              <div class="subheader-right-cart">
                <%= link_to image_tag("cart_icon.png", alt:"カート") %>
              </div>
              <div class="subheader-right-cart-number">
                <%= "0" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>


</header>




