<div class="caution">
  <p>類似サイトです。ご注意ください！</p>
</div>
  <div class="wideslider">
    <div class="commerce-image">
      <%= link_to(image_tag("bnr_20180829_main.png", alt:"バナー土屋太鳳")) %>
      <%= link_to(image_tag("hd_handd_main.png", alt:"バナーJapaneseHandmade")) %>
      <%= link_to(image_tag("jolie-joli_main.png", alt:"バナーJolieJoli")) %>
      <%= link_to(image_tag("bnr_uspolo2019_main.png", alt:"バナーPolo")) %>

    </div>
    <div id="apArrows"></div>

  </div>
<div class="container">

  <div class="select-contents-tag">
    <div class="contents">
      <p>ブランドから選ぶ</p>
      <p>カテゴリから選ぶ</p>
      <p>価格から選ぶ</p>
      <p>贈る相手で選ぶ</p>
      <p>贈る目的で選ぶ</p>
    </div>
  </div>
  <div class="select-list"></div>
  <div class="new-items">
    <%= image_tag("newitem_title.png", alt:"新着アイテム") %>
  </div>

  <div class="new-item-view">
    <% @products.each do |product| %>

      <div class="image-area">
        <p class="product-img">
          <%= link_to(image_tag("/product_images/#{product.image}", :width => "100px"), "/products/#{product.id}") %>
        </p>
        <div class="product-info-home">
          <div class="product-name">
            <%= link_to(product.name, "/products/#{product.id}") %>
          </div>
          <div class="icon">
            <%= image_tag("free-wrapping.png") %>
          </div>
          <div class="price">
            <p>当店販売価格<br>
            <%= number_to_currency(product.price, :locale => 'jp') %> <span>(税込)</span><p>
          </div>
          <div class="favorite-btn">
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>




