<% content_for :title do %>
  Cart
<% end %>

<div id="page-comment">
  Cart
</div>

<% if @carts.present? %>
  <table class="cart_list">
    <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>価格</th>
      <th>買い物カゴから削除</th>
    </tr>
    </thead>
  <% total_price = 0 %>
  <tbody>
      <% @carts.each do |cart| %>
      <% @users = User.find(cart.user_id) %>
      <% @product = Product.find(cart.product_id) %>
  <tr>
      <td><%= cart.product_id %></td>
      <td><%= link_to(@product.name, "/products/#{@product.id}") %></td>
      <td><%= number_to_currency(@product.price, :locale => 'jp') %></td>

      <td><%= button_to("削除", "/carts/#{cart.id}", {method: "delete"}) %></td>

    </tr>
    <% total_price += @product.price %>
    <% end %>

  </tbody>
  </table>

<p>合計金額は<%= number_to_currency(total_price, :locale => 'jp') %>です。</p>


<%= link_to "購入する", products_user_settlement_path, :total_price => total_price %>

<% else %>
    <p>買い物カゴは空です。</p>
<% end %>
