
<table>
  <tr>
    <th><%= form.label :name, "商品名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :characteristic, "特徴" %></th>
    <td><%= form.text_area :characteristic, cols: 40, rows: 3 %></td>
  </tr>
  <tr>
    <th><%= form.label :product_hp, "ホームページアドレス" %></th>
    <td><%= form.text_field :product_hp %></td>
  </tr>
  <tr>
    <th><%= form.label :price, "価格" %></th>
    <td><%= form.text_field :price %></td>
  </tr>
  <tr>
    <th><%= form.label :purpose_number, "こんなときにおすすめ" %></th>
    <td><%= form.text_field :purpose_number %></td>
  </tr>
  <tr>
  	<th><%= form.label :age_group_number, "対象年齢" %></th>
  	<td><%= form.text_field :age_group_number %></td>
  </tr>
  <tr>
    <th><%= form.label :image, "画像" %></th>
    <td><%= form.file_field :image%></td>
  </tr>
</table>