<%= render "shared/header" %>

<% @page_title = "商品リスト" %>
<h3><%= @page_title %></h3>
 <%= "登録商品数：" %>
 <%= @products.count %>

<% if @products.present? %>
	<table class="product_list">
		<thead>
	    <tr>
          <th>ID</th>
	      <th>Name</th>
	      <th>Characteristic</th>
	      <th>Product_hp</th>
	      <th>Price</th>
	      <th>Purpose_number</th>
	      <th>Age_group_number</th>
	      <th>Image</th>
	      <th>Evaluation</th>
	      <th>Operation</th>

	    </tr>
		</thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to(product.name, "products/#{product.id}") %></td>
        <td><%= product.characteristic %></td>
        <td><%= product.product_hp %></td>
        <td><%= product.price %></td>
        <td><%= product.purpose_number %></td>
        <td><%= product.age_group_number %></td>
        <td><%= product.image %></td>
        <td><%= product.evaluation %></td>
        <td>
        <%= link_to "編集" %>
        <%= link_to "削除" %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>商品情報がありません。</p>
<% end %>
