<div class="container">

  <%= form_for @product, :url => {:action => 'create'} do |f| %>

    <%= f.label "商品名" %>
      <p><%= f.text_area :name %></p>

    <%= f.label "特徴" %>
      <P><%= f.text_area :characteristic %></P>

    <%= f.label "ホームページアドレス" %>
      <P><%= f.text_area :product_hp %></P>

    <%= f.label "価格" %>
      <P><%= f.text_area :price %></P>

    <P><%= f.label "目的" %></P>
      <% @purposes.each do |purpose| %>
        <%= check_box_tag "checkbox[#{purpose.id}]" %>
        <%= label_tag "checkbox[#{purpose.id}]", "#{purpose.purpose}" %>
      <% end %>

    <P><%= f.label "対象年齢" %></P>
      <%= f.text_field :age_group_number %>
    <input type = "submit" value ="商品を登録する">

  <% end %>

</div>