<div class="container">

  <%= form_for @product, :url => {:action => 'create'} do |f| %>

    <%= f.label "商品名" %>
      <p><%= f.text_area :name %></p>

    <%= f.label "特徴" %>
      <p><%= f.text_area :characteristic %></p>

    <%= f.label "ホームページアドレス" %>
      <p><%= f.text_area :product_hp %></p>

    <%= f.label "価格" %>
      <p><%= f.text_field :price %></p>

    <p><%= f.label "目的" %></p>
      <% @purposes.each do |purpose| %>
        <%= check_box_tag "checkbox[#{purpose.id}]" %>
        <%= label_tag "checkbox[#{purpose.id}]", "#{purpose.purpose}" %>
      <% end %>

    <p><%= f.label "対象年齢" %></p>
      <%= f.text_field :age_group_number %>

    <%= fields_for @product_management do |f| %>
      <%= f.label "登録個数" %>
      <p><%= f.text_field :stock %></p>
    <% end %>

    <input type = "submit" value ="商品を登録する">

  <% end %>

</div>