<%= link_to "トップページ", root_path %>
<%= link_to "商品リスト", products_path %>

	<table class="product_list">
		<thead>
	    <tr>
          <th>ID</th>
	      <th>Name</th>
	      <th>Characteristic</th>
	      <th>Product_hp</th>
	      <th>Price</th>
	      <th>Purpose_number</th>
	      <th>Age_group_number</th>
	      <th>Image</th>
	      <th>Evaluation</th>
	      <th>Operation</th>

	    </tr>
		</thead>

  <tbody>
      <tr>
        <td></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td>
        	<%= "edit" %>
        	<%=  %>
        </td>
      </tr>
  </tbody>
</table>

