<%= render "shared/header" %>

<% if signed_in? && current_user.admin == true %>
  <%= link_to("編集", "/products/#{@product.id}/edit") %>
  <%= button_to("削除", "/products/#{@product.id}/destroy", {method: "post"}) %>
<% end %>

  <p>商品名：<%= @product.name %></p>
  <p>特徴：<%= @product.characteristic %></p>
  <p>ホームページ：<%= link_to(@product.product_hp, "#{@product.product_hp}") %></p>
  <p>価格：<%= number_to_currency(@product.price, :locale => 'jp') %></p>
      <p>目的：</p>
        <% purpose_products = PurposeProduct.where(product_id: @product.id) %>
        <% purpose_products.each do |purpose_product| %>
          <% purpose = Purpose.find(purpose_product.purpose_id) %>
          <%= purpose.purpose %><br>
        <% end %>
<%= image_tag("/product_images/#{@product.image}", :width => "100") %><br>

<%= form_tag("/carts") do %>

  <% @cart = Cart.new(user_id: current_user.id, product_id: @product.id) %>
    <%= hidden_field :cart, :user_id %>
    <%= hidden_field :cart, :product_id %>
    <%= button_to("買い物カゴに入れる", controller: "carts", action: "create") %>

<% end %>

