<div class="container">
  <div id="product-name">
    <h2><%= @product.name %></h2>
  </div>
  <div id="product-infromation">
    <div id="product-information-left">      
      <p><%= image_tag("/product_images/#{@product.image}", :width => "300") %></p>
    </div>
    <div id="product-infromation-right">
      <p><%= @product.characteristic %></p>
      
      <p><%= link_to(@product.product_hp, "#{@product.product_hp}") %></p>
      <p>当店販売価格：<%= number_to_currency(@product.price, :locale => 'jp') %></p>
      <p>おすすめの用途</p>
        <% purpose_products = PurposeProduct.where(product_id: @product.id) %>
        <% purpose_products.each do |purpose_product| %>
          <% purpose = Purpose.find(purpose_product.purpose_id) %>
          <%= purpose.purpose %>
        <% end %>

      <%= form_tag("/carts") do %>

        <% @cart = Cart.new(user_id: current_user.id, product_id: @product.id) %>
          <%= hidden_field :cart, :user_id %>
          <%= hidden_field :cart, :product_id %>
          <%= button_to("カートへ入れる", controller: "carts", action: "create") %>

        <% end %> 
    </div>
  </div>


    <% if signed_in? && current_user.admin == true %>
    <%= link_to("編集", "/products/#{@product.id}/edit") %>
    <%= button_to("今は削除だがレコードを見えないようにしたい", "/products/#{@product.id}/destroy", {method: "post", class:"buttonto"}) %>
  <% end %>


</div>