<%= render "shared/header" %>
<%= link_to("編集", "/products/#{@product.id}/edit") %>
<%= button_to("削除", "/products/#{@product.id}/destroy", {method: "post"}) %>
<p><%= @product.id %></p>
<p><%= @product.name %></p>
<p><%= @product.characteristic %></p>
<p><%= @product.product_hp %></p>
<p><%= @product.price %></p>
<img src= "<%= "/product_images/#{@product.image}" %>"><br>


