<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Present_app"%></title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- /jQueryを読み込む -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- /スクリプトを読み込む -->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="inner_body">
      <%= yield %>
    </div>
  </body>
</html>